# dependencies
node_modules

# sst
.sst
.build

# opennext
.open-next

# misc
.DS_Store

# local env files
.env
.env*.local

# Include layers and it's contents
!layers/**

undefined/temp/chromium
undefined/temp/libEGL.so
undefined/temp/libvk_swiftshader.so
undefined/temp/vk_swiftshader_icd.json
undefined/temp/libvulkan.so.1
undefined/temp/libGLESv2.so
